[submodule "qdriverstation"]
	path = qdriverstation
	url = ssh://aur@aur.archlinux.org/qdriverstation.git

[submodule "qdriverstation-git"]
	path = qdriverstation-git
	url = ssh://aur@aur.archlinux.org/qdriverstation-git.git
[submodule "keepass-plugin-quickunlock"]
	path = keepass-plugin-quickunlock
	url = ssh://aur@aur.archlinux.org/keepass-plugin-quickunlock.git
[submodule "ldcad"]
	path = ldcad
	url = ssh://aur@aur.archlinux.org/ldcad.git
[submodule "obfuscate"]
	path = obfuscate
	url = ssh://aur@aur.archlinux.org/obfuscate.git
[submodule "python-sphinx-autobuild"]
	path = python-sphinx-autobuild
	url = ssh://aur@aur.archlinux.org/python-sphinx-autobuild.git
[submodule "python-port-for"]
	path = python-port-for
	url = ssh://aur@aur.archlinux.org/python-port-for.git
